// Side Panel
#sidePanel {
  transition: width var(--secs);
  width: 0;
  height: 100vh;
  z-index: 5;
  @media (orientation: landscape) {
    &.open {
      width: calc(1% * var(--landscape-width));
    }
  }
  #sidePanelBody {
    position: relative;
    transition: transform var(--secs); // <-- Portrait AND landscape!
    height: 100%;
    &.closed {
      transform: translateX(-100%);
    } // <-- Left portrait AND landscape!
    @media (orientation: portrait) {
      width: var(--sidepanel-width);
    }
    @media (orientation: landscape) {
      width: calc(1vw * var(--landscape-width));
    }
  }
}
