// Content
#content {
  background: var(--bg-main);
  flex-grow: 1;
  height: 100vh;
  overflow: auto;

  #contentBody {
    box-sizing: border-box;
    height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: auto;
    margin-right: auto;
    @media (orientation: landscape) {
      width: min(70vw, 50rem);
    }

    //#region hide scroll bar
    div {
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
    }
    div::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    //#endregion

    p {
      display: inline;
    }
  }
}
