// Content
#content {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  #contentBody {
    box-sizing: border-box;
    height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: auto;
    margin-right: auto;
    @media (orientation: landscape) {
      width: min(70vw, 50rem);
    }

    p {
      display: inline;
      animation: appear-animate 0.25s linear;
    }
  }
}

@keyframes appear-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
