// Content
#content {
  background: var(--bg-main);
  flex-grow: 1;
  height: 100vh;
  overflow: auto;

  #contentBody {
    box-sizing: border-box;
    height: 100vh;
    padding: 1rem;

    margin-left: auto;
    margin-right: auto;
    @media (orientation: landscape) {
      width: min(70vw, 50rem);
    }

    p {
      display: inline;
    }
  }
}
