#main {
  display: flex; // Flexbox definition
  overflow: hidden; // Disable scrolling on layout
  width: 100vw;
}

.max-three-lines {
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
